<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Ava.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Grek Andrian</h1>
		<p>I am learning Ruby on Rails. Find my project on Git-hub <a href="https://github.com/grek-andrian">grek-andrian</a></p>
	</div>
</div>
